<h3>
	Edit Coffee Shop
</h3>

<article class="shop-frm">
	<form name="add-shop">

		<div>
			<label>Name</label>
			<input type="text" name="name" ng-model="ctrl.shop.name" required>
		</div>
		<div>
			<label>Address</label>
			<input type="text" name="address" ng-model="ctrl.shop.address" required>
		</div>
		<div>
			<label>Rating</label>
			<select  name="rating" ng-options="rating as rating for rating in ctrl.ratings" ng-model="ctrl.shop.rating">
			</select>
		</div>
		<div>

		<div>
			<button type="submit" ng-click="ctrl.updateShop()">{{ctrl.shop_update_btn}}</button>
		</div>
	</form>
</article>